@model DotWeb.WebInfo
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="~/Content/css/page.css">
    <link rel="stylesheet" href="~/Scripts/fancybox/source/jquery.fancybox.css">

    <script type="text/javascript" src="~/Scripts/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="~/Scripts/fancybox/source/jquery.fancybox.js"></script>
    <script type="text/javascript" src="~/Scripts/fancybox/source/set.js"></script>
}
<ul class="breadCrumb">
    <li><a href="~/index">首頁</a></li>
    <li><a href="~/Products/Prolist">新和春產品系列</a></li> <!--超連結連到排序第1個的分類列表-->
    <!--如果有1層分類-->
    <li><a href="#">@Model.category_l1_name</a></li> <!--超連結連到該分類列表-->
    <!--如果有2層分類
    <li><a href="#">@Model.category_l1_name</a></li> ←超連結連到該分類第1個子分類列表
    <li><a href="#">@Model.category_l2_name</a></li> ←超連結連到該分類列表
    -->
    <li>@Model.product.product_name</li>
</ul>

<div id="content">
    <h3>新和春產品系列<span>Product Series</span></h3>
    <dl class="pro">
        <dt>
            <a class="fancybox" href="@Html.ImgSrc("Sys_Active", "ProdData", @Model.product.id, "ShowImg", 800)">
                <img src="@Html.ImgSrc("Sys_Active", "ProdData", @Model.product.id, "ShowImg", 232)" /></a></dt>
        <dd>
            <h4>@Model.product.product_name</h4>
            <p>@Model.product.product_intro</p>
            <p>價格NT$ : <strong>@Model.product.price</strong>元</p>
        </dd>
    </dl>

    <h4>產品介紹</h4>
    <div id="editor">
        @Html.Raw(Model.product.edit_memo)
    </div>
    <!-- editor //-->
    <a class="goTop" href="#header">Top</a>
    <a class="goTop" href="~/Products/prolist">Back</a>
</div>
<!-- content //-->
